/* Global styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #fbf1c7;
}

/* Navbar styles */
.navbar {
  width: 200px;
  height: 100vh;
  background-color: #ebdbb2;
  color: #282828;
  position: fixed;
  left: 0;
  top: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar a {
  display: block;
  padding: 10px;
  color: #504945;
  text-decoration: none;
  font-size: 16px;
}

.navbar a:hover {
  background-color: #7c6f64;
}

/* Main content styles */
.content {
  background-color: #fbf1c7;
  margin-left: 200px;
  padding: 20px;
  min-height: 100vh;
}

.content h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #458588;
}

.content h2 {
  font-size: 30px;
  margin-bottom: 15px;
  color: #458588;
}

.content h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #458588;
}

.content h4 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #458588;
}

.content p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #282828;
}

.content pre {
  background-color: #f9f5d7;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 20px;
}

/*.content code {
    font-family: monospace;
    color: #cc241d;
}*/

.content a {
  color: #458588;
}

.content a:hover {
  text-decoration: underline;
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.login-page h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #458588;
}

#loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 400px;
  padding: 20px;
}

#loginForm label {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
  color: #282828;
}

#loginForm input[type="email"],
#loginForm input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#loginForm button[type="submit"] {
  background-color: #458588;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

#loginForm button[type="submit"]:hover {
  background-color: #7c6f64;
}

.admin-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  position: relative;
}

.admin-page h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #458588;
  margin-top: 0;
}

.admin-page h2 {
  font-size: 30px;
  margin-bottom: 30px;
  color: #458588;
  margin-top: 0;
}

#createMdForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 800px;
  padding: 20px;
  background-color: #f9f5d7;
  border-radius: 5px;
}

#createMdForm label {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
  color: #282828;
}

#createMdForm input[type="text"],
#createMdForm textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#createMdForm input[type="text"] {
  min-width: 400px;
}

#createMdForm textarea {
  min-width: 400px;
  min-height: 300px;
}

#createMdForm button[type="submit"] {
  background-color: #458588;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

#createMdForm button[type="submit"]:hover {
  background-color: #7c6f64;
}

#logout-btn {
  background-color: #cc241d;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 20px;
  right: 20px;
}

#logout-btn:hover {
  background-color: #7c6f64;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .navbar {
    display: none;
  }

  .content {
    margin-left: 0;
    padding: 10px;
  }
}
