<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    $CSS_LINK
    <title>$TAB_TITLE</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <a href="/">Frontpage</a>
            <a href="/admin">Admin panel</a>
            $NAV_LINKS
            <!--<a href="/">Frontpage</a>
            <a href="/admin">Admin panel</a>
            <a href="/docs/git">Git</a>
            <a href="/docs/cleancode">Clean Code</a>
            <a href="/docs/jsdatatypes">JavaScript Data Types</a>
            <a href="/docs/callback">Callback functions in JS</a>
            <a href="/docs/restapi">RESTful Apis</a>
            <a href="/docs/nodejs">Node.js</a>
            <a href="/docs/express">Express</a>
            <a href="/docs/fetch">Fetch</a>
            <a href="/docs/loops">Loops</a>
            <a href="/docs/packagejson">package.json</a>
            <a href="/docs/static">Serving static files</a>
            <a href="/docs/time">Working with time in JS</a>
            <a href="/docs/vercel">Deployment on Vercel</a>
            <a href="/docs/xss">Cross-site Scripting</a>
            <a href="/docs/importexport">Modules in JS</a>-->
          </nav>
    </header>

    <main>
        <div class="content">