<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/main.css">
    <title>$TAB_TITLE</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <a href="/docs/git">Git</a>
            <a href="/docs/cleancode">Clean Code</a>
            <a href="/docs/jsdatatypes">JavaScript Data Types</a>
            <a href="/docs/callback">Callback functions in JS</a>
            <a href="/docs/restapi">RESTful Apis</a>
            <a href="/docs/nodejs">Node.js</a>
            <a href="/docs/express">Express</a>
            <!-- Add more topics as needed -->
          </nav>
    </header>

    <main>
        <div class="content">