<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/main.css">
    <title>Documentation</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <a href="/docs/git">Git</a>
            <a href="/docs/jsdatatypes">JavaScript Data Types</a>
            <!-- Add more topics as needed -->
          </nav>
    </header>

    <main>
        <div class="content">